<%= form_tag sessions_path, remote: true, :html => { :role => "form", class: :form_with_errors } do |form| %>
  
  <div class="field">
    <%= label_tag :email %>
    <%= text_field_tag :email, params[:email] %>
  </div>

  <div class="field">
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>

  <div class="actions">
    <%= submit_tag "Login" %>
	<p>No member yet? <%= link_to "Sign Up", signup_path, remote: true %></p>
  </div>
<% end %>


