<div class="container">
 
  <h2>Things</h2>
  <div class="well">
    <%= link_to "New Thing", new_thing_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-thing"></div>
 
  <table id="search-results" class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody id="things">
	  <%= render @things %>
    </tbody>
  </table>
  
  <div id="single-result" style="display:none;">
	  <%= link_to 'Back to search results', things_path, remote: true %>
	  <div id="target-for-change"></div>
	  
	  <table class="table table-bordered table-striped">
	  <thead>
		<tr>
		  <th>Name</th>
		  <th>Actions</th>
		</tr>
		</thead>
		<tbody id="thing">
		  <%= render @things %>
		</tbody>
	  </table>
  </div>
 
  <%= render 'dialog' %>
 
</div>
