<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Admin</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= link_to '<i class="fa fa-search"></i>'.html_safe, user %></td>
        <td><%  if can? :update, user %>
          <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_user_path(user)%>
        <% end %></td>
        <td><% if can? :manage, User %>
          <%= link_to '<i class="fa fa-angle-double-up"></i>'.html_safe, promote_user_path(user), method: :post %>
        <% end %></td>
        <td><% if can? :destroy, user %>
          <%= link_to '<i class="fa fa-trash"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, class: 'btn btn-primary' if can? :create, User %>
<%= link_to 'Back', home_index_path, class: 'btn btn-default' %>
