<p id="notice"><%= notice %></p>

<h1>Administrate</h1>

<% if current_user %>
	<h3>User Profile</3>
	<p>
	<%= link_to 'Edit credentials', edit_user_path(current_user), class: "btn btn-primary" if can? :update, current_user %>
	<%#= render 'users/form', user: current_user %>
	</p>
	
	<% if current_user.admin %>
	<h3>Admin Page </h3>
	<p>
		<%= link_to "Manage Sizes", sizes_path, class: "btn btn-primary" if can? :manage, Size %>
		<%#= link_to 'New User', new_user_path, class: 'btn btn-primary' if can? :create, User %>
		<%= link_to 'Manage Users', users_path, class: 'btn btn-primary' if can? :index, User %>
		<%= link_to 'Manage Reviews', reviews_path, class: 'btn btn-primary' if can? :index, Review %>
		<%#= link_to 'Manage Sites', sites_path, class: 'btn btn-primary' if can? :index, Site %>
	</p>
	<% end %>
<% else %>
	You are not logged in. Please go to <%= link_to "Log In", login_path %>.
<% end %>
<p><%= link_to 'Back', sites_path, class: "btn btn-default" %></p>