<%= form_with(model: size, local: true) do |form| %>
  <% if size.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(size.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% size.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= form.label :name %>*
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= form.label :text %>
    <%= form.text_area :text, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Submit", :class => 'btn btn-primary' %>
  </div>

<% end %>
