<p id="notice"><%= notice %></p>

<h1>Sizes</h1>

<!--Filter: <%#= link_to 'All', reviews_path %>-->
			<%# @sitesref.find_each do |site| %>
				<%#= link_to site.name, reviews_path(site: site.name) %>
			<%# end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @sizes.each do |size| %>
      <tr>
	      <td><%= size.name %></td>
		    <td><%= size.text %></td>
        <td><%= link_to '<i class="fa fa-search"></i>'.html_safe, size %></td>
        <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_size_path(size) if can? :edit, size %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, size, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, size %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Size', new_size_path, class: 'btn btn-primary' if can? :create, Size %>
<%= link_to 'Back', home_index_path, class: 'btn btn-default' %>