<p id="notice"><%= notice %></p>

<h1>Reviews</h1>

Filter: <%= link_to 'All', reviews_path %>
			<% @sitesref.find_each do |site| %> 
				<%= link_to site.name, reviews_path(site: site.name) %>
			<% end %>
<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Comment</th>
	  <th>Reviewed Site</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td>
		<% review.rating.to_i.times do  %>
			<span class="glyphicon glyphicon-star text-warning"></span>
		<% end %>
		<% review.blank_stars.times do %>
			<span class="glyphicon glyphicon-star-empty text-muted"></span>
		<% end %>
	    </td>
        <td><%= review.comment %></td>
		<td><%= link_to review.site.name, review.site %></td>
        <td><%= link_to '<i class="fa fa-search"></i>'.html_safe, review %></td>
        <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_review_path(review) %></td>
        <td><%= link_to '<i class="fa fa-trash"></i>'.html_safe, review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Review', new_review_path %>
