<% logger.debug "show.html.erb" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Review on Site</strong>
  <%= link_to @review.site.name, @review.site %>
</p>

<p>
  <strong>Author:</strong>
  <%= @review.user.first_name %> <%= @review.user.last_name %>
</p>

<p>
  <strong>Rating:</strong>
  <% @review.rating.to_i.times do  %>
	<span class="glyphicon glyphicon-star text-warning"></span>
  <% end %>
  <% @review.blank_stars.times do %>
	<span class="glyphicon glyphicon-star-empty text-muted"></span>
  <% end %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', edit_review_path(@review), class: 'btn btn-primary' if can? :update, @review %>
<%= link_to 'Delete', @review, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, @review %>
<%= link_to 'Back', reviews_path, class: 'btn btn-default'%>
