<%= form_with(model: site, local: true) do |form| %>
  <% if site.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site.errors.count, "error") %> prohibited this site from being saved:</h2>

      <ul>
      <% site.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group field">
    <%= form.label :name %>*
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= form.label :longitude %>*
    <%= form.text_field :longitude, class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= form.label :latitude %>*
    <%= form.text_field :latitude, class: "form-control" %>
  </div>

  <div class="form-group field">
    <%= form.label :sizes %>*
    <%= collection_select(:site, :size_ids, Size.all, :id, :name, { include_hidden: false }, { :multiple => true }) %>
  </div>

  <div class="field">  
	<%= form.label :images %>
		<% if @site.images.attached? %>
			<p>
				<% @site.images.each do |image| %>
					<% #image_tag url_for(image) %>
					<%= image_tag image.variant(resize: "100x100") %>
					<!-- note: nesting on :images_attachments, not :images -->
					<%= form.fields_for :images_attachments, image do |fields| %>
						<% #If checked it marks the image_attachment for destruction. %>
						delete: <%= fields.check_box :_destroy %>
					<% end %>
				<% end %>
			</p>
		<% end %>
	<%= form.file_field :images, multiple: true %>
  </div>

  <div class="actions">
    <%= form.submit "Update Site", :class => 'btn btn-primary' %>
  </div>
<% end %>
