<% logger.debug "_show_single.html.erb" %>
<li class='search-entry' id='entry-<%= @site.id %>'>
	<h2 class='hammock-header'><%= @site.name %></h2>
	<% @site.meanrating.to_i.times do  %>
		<span class='glyphicon glyphicon-star text-warning'></span>
	<% end %>
	<% (5 - @site.meanrating.to_i).times do  %>
		<span class='glyphicon glyphicon-star-empty text-muted'></span>
	<% end %>
	<div class='description'><%= @site.description %></div>
	<% if current_user.admin? || current_user == @site.user %>
		<%= link_to 'Edit', edit_site_path(@site), :remote => true, class: 'btn btn-primary' %>
		<%= link_to 'Delete', @site, :method => :delete, :data => { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>
	<% end %>
</li>

