<tr id="site_<%= site.id %>">
  <td><%= site.name %></td>
  <td><%= site.user.first_name %> <%= site.user.last_name %></td>
  <td><%= site.description %></td>
  <td><%= site.longitude %> <%= site.latitude %></td>
  <td><%= site.sizes.map(&:name).join(', ') %></td>
  <td>
	<% if site.images.attached? %>
		<% site.images.each do |image| %>
			<span><%= image_tag image.variant(resize: "100x100") %></span>
		<% end %>
	<% end %>
  </td>
  <td><ul>
		<% @reviews.each do |review| %>
			<li>
			<% review.rating.to_i.times do %> 
			  <span class="glyphicon glyphicon-star text-warning"></span>
			<% end %>
			<% (5 - review.rating.to_i).times do %> 
			  <span class="glyphicon glyphicon-star-empty text-muted"></span>
			<% end %>
			: <%= review.comment %> (<%= review.user.first_name %>)</li>
		<% end %>
		</ul>
  </td>
  <td>
    <%= link_to 'Show', site, remote: true, :class => 'btn btn-sm btn-info' %>
	<% if current_user == site.user || current_user.admin %>
		<%= link_to 'Edit', edit_site_path(site), remote: true, :class => 'btn btn-sm btn-primary' %>
		<%= link_to 'Delete', site, remote: true, :method => :delete, data: {confirm: "Delete Site: #{site.name}"}, :class => 'btn btn-sm btn-danger' %>
	<% end %>
  </td>
</tr>