<%# for each site in @sites: generate link (#show) and fill it with content %>

<% if can? :show, Site %>
	<%= link_to site, remote: true do %>
	  <li class="search-entry" id="site_<%= site.id %>" data-id="<%= site.id %>">
		<% if site.images.attached? %>
		<%= image_tag site.images[0].variant(resize: "100x100") %>
		<% end %>
		<h2><%= site.name %></h2>
		<div id="meanrating_<%= site.id %>">
		<% site.meanrating.to_i.times do %>
		  <span class="glyphicon glyphicon-star text-warning"></span>
		<% end %>
		<% (5 - site.meanrating.to_i).times do %>
		  <span class="glyphicon glyphicon-star-empty text-muted"></span>
		<% end %>
		(<%= site.reviews.size %>)
		</div>
		<!--<div class="description"><%= site.description %></div>-->
	  </li>
	<% end %>
<% end %>