<%# for each site in @sites: generate link (#show) and fill it with content %>

<% if can? :show, Site %>
	<%= link_to site, remote: true do %>
	  <li class="search-entry" id="site_<%= site.id %>" data-id="<%= site.id %>">
		<%# if site.images.attached? %>
		<%#= image_tag site.images[0].variant(resize: "100x100") %>
		<%# end %>
		<h2><%= site.name %></h2>
		<div id="meanrating_<%= site.id %>">
		<% site.meanrating.to_i.times do %>
		  <span class="glyphicon glyphicon-star text-warning"></span>
		<% end %>
		<% (5 - site.meanrating.to_i).times do %>
		  <span class="glyphicon glyphicon-star-empty text-muted"></span>
		<% end %>
		(<%= site.reviews.size %>)
		</div>
		<!--<div class="description"><%= site.description %></div>-->
	  </li>
	<% end %>
<% end %>

<div class="temp_code">
	<script type="text/javascript">
	
$(document).ready(function(){		// important: first load jquery and create the map!

	// create a new marker and add to map
	console.log("start loading marker <%= site.id %>");
	marker_<%= site.id %> = L.marker([<%= site.latitude %>, <%= site.longitude %>], {icon: myDivIcon, title: '<%= site.name %>', riseOnHover: true});
	marker_<%= site.id %>.addTo(map).bindPopup('<b><%= site.name %></b><br /><%= site.description %>');

	$(marker_<%= site.id %>._icon).attr('id', 'divmarker_<%= site.id %>');

	// bind cross-target hover events
	marker_<%= site.id %>.on("mouseover", function() {
		this.openPopup();
		$("#site_<%= site.id %>").addClass( "hover" );
		$("#site_single_<%= site.id %>").addClass( "hover" );
	});
	marker_<%= site.id %>.on("mouseout", function() {
		this.closePopup();
		$("#site_<%= site.id %>").removeClass( "hover" );
		$("#site_single_<%= site.id %>").removeClass( "hover" );
	});
	$("#site_<%= site.id %>").hover(function() {
		marker_<%= site.id %>.openPopup();
		$("#divmarker_<%= site.id %>").addClass( "hover" );
	}, function() {
		marker_<%= site.id %>.closePopup();
		$("#divmarker_<%= site.id %>").removeClass( "hover" );
	});

	// bind click event
	$("#divmarker_<%= site.id %>").html('<%= link_to "Show", site, remote: true %>');
	
});
	</script>
</div>