<tr id="site_<%= site.id %>">
  <td><%= site.name %></td>
  <td id="meanrating_<%= site.id %>">
    <% site.meanrating.to_i.times do %> 
	  <span class="glyphicon glyphicon-star text-warning"></span>
	<% end %>
	<% (5 - site.meanrating.to_i).times do %> 
	  <span class="glyphicon glyphicon-star-empty text-muted"></span>
	<% end %>
	(<%= site.reviews.size %>)</td>
  <td><%= site.description %></td>
  <td>
	<% if site.images.attached? %>
		<%# if site.images.each do |image| %>
		<%= image_tag site.images[0].variant(resize: "100x100") %>
	<% end %>
  </td>
  <td>
    <%= link_to 'Show', site, remote: true, :class => 'btn btn-sm btn-info' if can? :show, Site %>
	<%= link_to 'Edit', edit_site_path(site), remote: true, :class => 'btn btn-sm btn-primary' if can? :update, Site %>
	<%= link_to 'Delete', site, remote: true, :method => :delete, data: {confirm: "Delete Site: #{site.name}"}, :class => 'btn btn-sm btn-danger' if can? :destroy, Site %>
	<%= link_to 'Rate', new_review_path(:site_id => site.id), remote: true, :class => 'btn btn-sm btn-info' if can? :create, Review %>
  </td>
</tr>