<tr id="site_<%= site.id %>">
  <td><%= site.name %></td>
  <td>
    <%= link_to 'Show', site, remote: true, :class => 'btn btn-sm btn-info' %>
    <%= link_to 'Edit', edit_site_path(site), remote: true, :class => 'btn btn-sm btn-primary' %>
    <%= link_to 'Delete', site, remote: true, :method => :delete, data: {confirm: "Delete Site: #{site.name}"}, :class => 'btn btn-sm btn-danger' %>
  </td>
</tr>