
<div id="map" class ="ol-map">
  <p id="notice" class="ol-notice"><%= notice %></p>
</div>
<div style="display: none;">
  <!-- Clickable label for Vienna -->
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
</div>
<script>


    var container = document.getElementById('popup');
    var content = document.getElementById('popup-content');
    var closer = document.getElementById('popup-closer');
    var overlay = new ol.Overlay({
        element: container,
        autoPan: true,
        autoPanAnimation: {
            duration: 250
        }
    });


    // Adding all hammocks
    var hammocks = [];
    <% @sites.each do |site| %>
        var point = new ol.geom.Point([<%= site.longitude %>, <%= site.latitude %>]);
        point.transform('EPSG:4326', 'EPSG:900913');
      var hammock = new ol.Feature({
            geometry: point,
            name: '<%=escape_javascript site.name %>',
            description: '<%=escape_javascript site.description %>',
            user: {
                first: "<%=escape_javascript site.user.first_name %>",
                last: "<%=escape_javascript site.user.last_name %>"
            },
            review_count: <%= site.reviews.size %>,
            belongs_to_user: <%= site.user == current_user %>,
            <%if site.user == current_user%>
              edit: '<%= button_to "Bearbeiten", edit_site_path(site), :class => "btn btn-primary btn-block", :method => :get %>',
              delete: '<%= button_to "Löschen",  site, method: :delete, :class => "btn btn-warning btn-block" , confirm: 'Are you sure?' %>'
            <% end %>
        });
        hammocks.push(hammock);
    <% end %>

    var iconStyle = new ol.style.Style({
        image: new ol.style.Icon(/** @type {module:ol/style/Icon~Options} */ ({
            anchor: [0.5, 1],
            anchorXUnits: 'fraction',
            anchorYUnits: 'fraction',
            src: "<%= asset_path('hammock.png') %>"
        }))
    });

    hammocks.forEach(hammock => hammock.setStyle(iconStyle));

    var vectorSource = new ol.source.Vector({
        features: hammocks
    });

    var vectorLayer = new ol.layer.Vector({
        source: vectorSource
    });

    var tileLayer = new ol.layer.Tile({
        source: new ol.source.OSM({
            wrapX: false,
            noWrap: true,
        }),

    });


    closer.onclick = function() {
        overlay.setPosition(undefined);
        closer.blur();
        return false;
    };

    var map = new ol.Map({
        layers: [
            tileLayer,
            vectorLayer
        ],
        overlays: [overlay],
        target: 'map',
        view: new ol.View({
            center: [0, 0],
            //extent: ol.proj.get("EPSG:3857").getExtent(),

            minZoom: 2,

            zoom:2,
        })
    });



    map.on('singleclick', function(evt) {
        var coordinate = evt.coordinate;
        var feature = map.forEachFeatureAtPixel(evt.pixel,
            function(feature) {
                return feature;
          });
        if(feature) {
            coordinate = feature.get("geometry").flatCoordinates;
            $(container).addClass("marker");
            content.innerHTML = featureToHTML(feature);
        } else {
            $(container).removeClass("marker");
            var lonLat = ol.proj.toLonLat(coordinate)
            content.innerHTML = emptySlot(lonLat);
            document.getElementById("site_longitude").value = lonLat[0];
            document.getElementById("site_latitude").value = lonLat[1];
        }
        overlay.setPosition(coordinate);
    });

    function featureToHTML(feature) {
        var comment = "Kommentare";
        if(feature.get("review_count") === 1) {
          comment = "Kommentar";
        }
        var isMine = feature.get("belongs_to_user");
        var postfix = "";
        if(isMine) {
            postfix = feature.get("edit") + feature.get("delete");
        }
        return "<h2>" + feature.get("name") + "</h2> " +
            "<div class='description'>" +
            feature.get("description") + "</div>" +
        "<div class='discoverer'>" + feature.get("user").first + " " + feature.get("user").last + "</div>" +
        "<a href='#'>" +
        feature.get("review_count") + " " + comment +
        "</a>" + postfix;
    }

    function emptySlot(position) {
        var form = document.getElementById("new_site").outerHTML;
        return "<code>" + ol.coordinate.toStringHDMS(position) + "</code>" + "<p>Hier ist noch keine Hängematte abgespeichert worden!</p>" + form;
    }

</script>

<%= form_for(Site.new) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>
  <%= f.label :longitude %>
  <%= f.text_field :longitude, class: "form-control" %>
  <%= f.label :latitude %>
  <%= f.text_field :latitude, class: "form-control" %>
  <%= f.label :size_ids %>
  <%= f.select :size_ids, Size.all.collect {|x| [x.name, x.id]}, {include_blank: false, include_hidden: false}, :multiple => true, class: "form-control"%>

  <%= f.submit "Create", :class => "btn btn-success btn-block" %>
<% end %>