<div id="map" class ="ol-map">
  <%if notice %>
  <p id="notice" class="ol-notice"><%= notice %></p>
  <%end %>
</div>

<div style="display: none;">
  <div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content">
    </div>
  </div>
</div>

<%= render 'map', site: @site %>

<div style="display: none; height: 0;">
<%= form_for(Site.new) do |f| 
#form_with(model: @site) do |f| 
%>
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label :description %>
  <%= f.text_field :description, class: "form-control" %>
  <%= f.label :longitude %>
  <%= f.text_field :longitude, class: "form-control" %>
  <%= f.label :latitude %>
  <%= f.text_field :latitude, class: "form-control" %>
  <%= f.label :size_ids %>
  <%= f.select :size_ids, Size.all.collect {|x| [x.name, x.id]}, {include_blank: false, include_hidden: false}, :multiple => true, class: "form-control"%>

  <%= f.submit "Create", :class => "btn btn-success btn-block" if can? :create, Site %>
  <p>
    <%= 'Zum Erstellen von Sites bitte anmelden' if cannot? :create, Site %>
    <br/>
    <%= link_to "Log In", login_path if cannot? :create, Site %>
  </p>
<% end %>
</div>