<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @site.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @site.user.first_name %> <%= @site.user.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @site.description %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @site.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @site.latitude %>
</p>

<p>
  <strong>Sizes:</strong>
  <%= @site.sizes.map(&:name).join(', ') %>
</p>

<% if @site.images.attached? %>
<!-- @site.images.present? will always return true, use attached? to check presence -->
  <p>
    <strong>Images:</strong>
    <br>
	<% @site.images.each do |image| %>
		<%= image_tag image.variant(resize: "100x100") %>
	<% end %>
  </p>
<% end %>

<p>
  <strong>Reviews (<%= @site.reviews.size %>)</strong>
  <% @site.reviews.each do |review| %>
      <ul>
	  <li><% review.rating.to_i.times do  %>
			<span class="glyphicon glyphicon-star text-warning"></span>
		<% end %>
		<% review.blank_stars.times do %>
			<span class="glyphicon glyphicon-star-empty text-muted"></span>
		<% end %></li>
		<li><%= review.comment %></li>
	</ul>
    <% end %>
</p>

<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
