<!DOCTYPE html>
<html>
  <head>
    <title>HammockApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
	<%= stylesheet_link_tag 'application', media: 'all' %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,900" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>
  </head>
  <body class="fixed skin-green-light">
    <div class="wrapper">
        <%= render 'layouts/navigation/header'%>
        <div class="<%= content_for?(:wrapperclass) ? yield(:wrapperclass) : "content-wrapper" %>">
            <%= yield %>
        </div>
        <%= render 'layouts/navigation/footer' %>
    </div>
  </body>
</html>
