<header class="main-header">
  <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>H</b>A</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Hammock</b>App</span>
    </a>
  <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
		  
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
		   <% if current_user %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img alt="User Image" class="user-image" src="http://placehold.it/160x160" />
              <span class="hidden-xs"><%= current_user.first_name %> <%= current_user.last_name %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img class="img-circle" alt="User Image" src="http://placehold.it/160x160" />
                <p>
                  <%= current_user.first_name %> <%= current_user.last_name %> - Hammock Lover
                  <small>Member since <%= current_user.created_at %></small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <%= link_to "Profile", home_index_path, class: "btn btn-default" %>
                </div>
                <% if can? :manage, Size %>
                  <div class="pull-left">
                    <%= link_to "Sizes", sizes_path, class: "btn btn-default" %>
                  </div>
                <% end %>
                <div class="pull-right">
                  <%= link_to "Log Out", logout_path, class: "btn btn-default" %>
                </div>
              </li>
            </ul>
		   <% else %>
			<%= link_to "Log In", login_path %>
		   <% end %>
          </li>
        </ul>
      </div>
    </nav>
  </header>